.footer-background {
    background-color: #283046;
    padding: 20px;
}

.footer-heads {
    color: white;
    padding-bottom: 10px;
}

.footer-link {
    color: white;
    font-size: small;
}

.footer-social-icons {
    color: white;
    margin-right: 10px;
}

.footer-social-icons:hover {
    color: rgb(81, 111, 207);
    margin-right: 10px;
}